:root {

  --color-foreground: #ffffff;
  --color-background-header: #232f3e;

  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
}
