body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  justify-content: center;
}

.form {
  max-width: 20vw;
  width: 20vw;
  display: grid;
  row-gap: var(--spacing-3);
}

.error-message {
  color: red;
}
